# <div align="center">Applied Data Science Capstone</div>
## <div align="center">Segmenting and Clustering Neighborhoods in Toronto, Part 1</div>

Import Pandas to scrape data and create a dataframe

In [1]:
import pandas as pd

Scrape a table from Wikipedia and place it into a dataframe.

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = df[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Drop rows that do not have a Borough assigned and rename the Postal code column per spec.

In [3]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True)
df.reset_index(drop = True, inplace = True)
df.rename(columns = {'Postal code': 'PostalCode'}, inplace = True)
df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Check for any NaN

In [4]:
df.isna().sum()

PostalCode      0
Borough         0
Neighborhood    0
dtype: int64

Check for any Neighborhoods that are not assigned

In [5]:
df[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Replace the '/' separating the neighborhooods with a comma.

In [6]:
df.replace(' /', ',', regex = True, inplace = True)
df.head(10)

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5        M9A         Etobicoke                             Islington Avenue
6        M1B       Scarborough                               Malvern, Rouge
7        M3B        North York                                    Don Mills
8        M4B         East York              Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District, Ryerson

In [7]:
print('The dataframe has {} rows'.format(df.shape[0]))

The dataframe has 103 rows